@font-face {
    font-family: 'Roboto';
    src: url(font/RobotoCondensed-Regular.ttf);
    font-family: 'Odin';
    src: url(font/Norse-Bold.otf);
}

body , html
{
    
    padding:0%;
    margin:0%;
    height:100%;
}

.img1
{
    max-width: 50%;
    height:100%;
}

.img2
{
    position:absolute;
    height:15vw;
}

.inside_img
{
    border:1px solid white;
    position:absolute;
    font-size:2rem;
    color:white;
    font-family: Odin;
    left:9rem;
    top:4rem;
}


.outer_bod
{
    display:flex;
    overflow-wrap: normal;
    position:relative;
}

.outer_bod .form_side
{
    display: flex;
    align-items: center;
    margin-left:0;
    font-family: Roboto;
    background-color: rgb(247, 232, 214);
}
.outer_bod .form_side .inner_form_box
{
    margin-left:15px;
}

.form_side .inner_form_box .upper_para
{
    font-weight: 600;
    font-size: 20px;
    margin-right:5%;
}

h3
{
    margin-left:5px;
}

.form_side .inner_form_box .second_para
{
    margin-top: 1rem;
    margin-bottom:1rem;
    font-weight: 600;
    font-size: 20px;
}

.without_button
{
    height:15em;
    background-color: aliceblue;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.personal_details, .secondary_details , .passwords
{
    display:flex;
    justify-content:space-evenly;
}

.personal_details #f_name , .personal_details #l_name ,.secondary_details #email, .secondary_details #phoneno ,.passwords #pass,.passwords #pass:valid , .passwords #confirmpass
{
    display:flex;
    flex-direction: column;
    font-size: small;
    
}


.button
{
margin-top: 1rem;
margin-left: 1rem;
}

button
{
    background-color: aliceblue;
    border:1px solid white;
    border-radius: 0.5rem;
    width:150px;
    height:30px;
    cursor:pointer;
}

.last_para
{
    margin-top: 1rem;
    margin-left: 1rem;

}
input[type="password"]:invalid
{

    border:1px solid red;
    border-radius: 2px;
}

input[type="password"]:invalid +.generated::after
{
 content: "*password do not match";
 color:red;
 font-size:small;

}

input[type="password"]:valid
{

    border:1px solid black;
    border-radius: 2px;
}

input[type="password"]:valid + .generated::before
{
 content: " ";

}

